.navbar {
    position: relative;
    display: inline-block;
    left: 40%;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
#exampleFormControlDiv {
    position: relative;
    height: 450px;
    overflow: auto;
    overflow-x: hidden;
}