.navbar {
    position: relative;
    display: inline-block;
    left: 87%;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
#exampleFormControlTextarea1
{
    position: relative;
    height: 650px;
}